<style>
	.tl-linklist{
		background-color: #efefef;
		padding: 4px;
		border: solid 1px grey;
	}	
	.tl-linklist:hover {
		background-color: lightgrey;
	}
	.tl-sidebar { 
		width: 303px; 
		position: fixed; 
		left: 409px;
		margin-left: 410px; 
	}
</style>
<div>
	<h3>Arduino Labs</h3>
	<div>
		<div class="tl-linklist" >
			<a href="/device/arduino/getting-started/">Getting Started</a>
		</div>
		<div class="tl-linklist" >
			<a href="/device/arduino/setup-arduino/">Setting Up Your Arduino</a>
		</div> 
		<div class="tl-linklist" >
			<a href="/device/arduino/writing-digital-output/">Writing Digital Output</a>
		</div>
		<div class="tl-linklist" >
			<a href="/device/arduino/reading-analog-input/">Reading Analog Input</a>
		</div>
		<div class="tl-linklist" >
			<a href="/device/arduino/input-controls-output/">Input Controls Output</a>
		</div>
		<div class="tl-linklist" >
			<a href="/lang/js/setup-azure-iot-hub/">Setting Up Azure IoT Hub</a>
		</div>
		<div class="tl-linklist" >
			<a href="/lang/js/sending-telemetry/">Sending Telemetry to the Cloud</a>
		</div>
		<div class="tl-linklist" >
			<a href="/visualize-iot-with-powerbi/">Visualizing IoT Data with Power BI</a>
		</div>
	</div>
	<div>
		<h3>BoM from SparkFun</h3>
		<script src="https://www.sparkfun.com/wish_lists/120919.js"></script>
	</div>
</div>