<style>
	.tl-linklist{
		background-color: #efefef;
		padding: 4px;
		border: solid 1px grey;
	}	
	.tl-linklist:hover {
		background-color: lightgrey;
	}
	.tl-sidebar { 
		width: 303px; 
		position: fixed; 
		left: 409px;
		margin-left: 410px; 
	}
</style>
<div>
	<h3>Windows 10 IoT Labs</h3>
	<div>
		<div class="tl-linklist" >
			<a href="{{ site.url }}/tr22/cs/">Overview</a>
		</div>
        <div class="tl-linklist" >
			<a href="{{ site.url }}/tr22/cs/hello-windows-iot/">Hello, Windows IoT!</a>
		</div>
		<div class="tl-linklist" >
			<a href="{{ site.url }}/tr22/cs/setup-azure-iot-hub/">Setting Up Azure IoT Hub</a>
		</div>
		<div class="tl-linklist" >
			<a href="{{ site.url }}/tr22/cs/sending-telemetry/">Sending Telemetry to the Cloud</a>
		</div>
		<div class="tl-linklist" >
			<a href="{{ site.url }}/tr22/cs/visualize-iot-with-powerbi/">Visualizing IoT Data with Power BI</a>
		</div>
	</div>
	
	<h3>Node.js IoT Labs</h3>
    <div>
	   <div class="tl-linklist" >
			<a href="{{ site.url }}/tr22/js/">Overview</a>
		</div>
        <div class="tl-linklist" >
			<a href="{{ site.url }}/tr22/js/hello-world/">Hello, World!</a>
		</div>
        <div class="tl-linklist" >
			<a href="{{ site.url }}/tr22/js/setup-azure-iot-hub/">Setting Up Azure IoT Hub</a>
		</div>
		<div class="tl-linklist" >
			<a href="{{ site.url }}/tr22/js/sending-telemetry/">Sending Telemetry to the Cloud</a>
		</div>
		<div class="tl-linklist" >
			<a href="{{ site.url }}/tr22/js/visualize-iot-with-powerbi/">Visualizing IoT Data with Power BI</a>
		</div>
    </div>
</div>