<style>
	.tl-linklist{
		background-color: #efefef;
		padding: 4px;
		border: solid 1px grey;
	}	
	.tl-linklist:hover {
		background-color: lightgrey;
	}
	.tl-sidebar { 
		width: 303px; 
		position: fixed; 
		left: 409px;
		margin-left: 410px; 
	}
</style>
<div>
	<h3>Windows 10 IoT Labs</h3>
	<div>
		<div class="tl-linklist" >
			<a href="{{ site.url }}/lang/cs/getting-started/">Getting Started</a>
		</div>
		<div class="tl-linklist" >
			<a href="{{ site.url }}/lang/cs/setup-rpi2/"> › Option: Setting Up Raspberry Pi 2</a>
		</div> 
		<div class="tl-linklist" >
			<a href="{{ site.url }}/lang/cs/setup-minnow/"> › Option: Setting Up MinnowBoard MAX</a>
		</div> 
		<div class="tl-linklist" >
			<a href="{{ site.url }}/lang/cs/setup-dragon/"> › Option: Setting Up DragonBoard 410c</a>
		</div> 
		<div class="tl-linklist" >
			<a href="{{ site.url }}/lang/cs/writing-digital-output/">Writing Digital Output</a>
		</div>
		<div class="tl-linklist" >
			<a href="{{ site.url }}/lang/cs/reading-analog-input/">Reading Analog Input</a>
		</div>
		<div class="tl-linklist" >
			<a href="{{ site.url }}/lang/cs/input-controls-output/">Input Controls Output</a>
		</div>
		<div class="tl-linklist" >
			<a href="{{ site.url }}/lang/cs/setup-azure-iot-hub/">Setting Up Azure IoT Hub</a>
		</div>
		<div class="tl-linklist" >
			<a href="{{ site.url }}/lang/cs/sending-telemetry/">Sending Telemetry to the Cloud</a>
		</div>
		<div class="tl-linklist" >
			<a href="{{ site.url }}/lang/cs/visualize-iot-with-powerbi/">Visualizing IoT Data with Power BI</a>
		</div>
	</div>
</div>