<style>
	.tl-linklist{
		background-color: #efefef;
		padding: 4px;
		border: solid 1px grey;
	}	
	.tl-linklist:hover {
		background-color: lightgrey;
	}
	.tl-sidebar { 
		width: 303px; 
		position: fixed; 
		left: 409px;
		margin-left: 410px; 
	}
</style>
<div>
	<h3>Thingy 4 Windows Labs</h3>
	<div>
		<div class="tl-linklist" >
			<a href="{{ site.url }}/workshop/thingy-4-windows/getting-started/">Getting Started</a>
		</div>
		<div class="tl-linklist" >
			<a href="{{ site.url }}/workshop/thingy-4-windows/setup-rpi2/">Setting Up Raspberry Pi 2</a>
		</div> 
		<div class="tl-linklist" >
			<a href="{{ site.url }}/workshop/thingy-4-windows/grovepi/">About the GrovePi</a>
		</div> 
		<div class="tl-linklist" >
			<a href="{{ site.url }}/workshop/thingy-4-windows/hello-windows-iot/">Lab 01: Hello, Windows IoT!</a>
		</div>
		<div class="tl-linklist" >
			<a href="{{ site.url }}/workshop/thingy-4-windows/nightlight/">Lab 02: Nightlight</a>
		</div>
		<div class="tl-linklist" >
			<a href="{{ site.url }}/workshop/thingy-4-windows/thingy/">Lab 03: ThingLabs Thingy&trade;</a>
		</div>
		<div class="tl-linklist" >
			<a href="{{ site.url }}/workshop/thingy-4-windows/setup-azure-iot-hub/">Lab 04: Setting Up Azure IoT Hub</a>
		</div>
		<div class="tl-linklist" >
			<a href="{{ site.url }}/workshop/thingy-4-windows/sending-d2c-messages/">Lab 05: Sending D2C Messages</a>
		</div>
		<div class="tl-linklist" >
			<a href="{{ site.url }}/workshop/thingy-4-windows/storing-displaying-data/">Lab 06: Storing & Displaying IoT Data</a>
		</div>
		<div class="tl-linklist" >
			<a href="{{ site.url }}/workshop/thingy-4-windows/sending-c2d-messages/">Lab 07: Sending C2D Messages</a>
		</div>
	</div>
</div>